.git/
**/*
!**/*/

!**/.git*
!**/.tokei*
!**/.docker*
!**/README.md
!**/Dockerfile

!LICENSE
!docker-compose.yml

**/.idea/**/*
**/.idea/**/.*
**/data/**/*

# From bot/.gitignore
!bot/**/*.sh
!bot/**/*.py

# From engine/.gitignore
!engine/**/*.sh
!engine/**/*.py

# From lipsync/.gitignore
!lipsync/**/*.sh
!lipsync/**/*.py

# From personalities/.gitignore
!personalities/**/*.json
!personalities/**/*.mp4
!personalities/**/*.wav

